.uploadall {
  .el-upload-list--picture{
    max-width: 500px!important;
  }
  .el-upload-dragger{
    width: 220px;
    height: 75px;
    .el-icon-upload{
      margin: 10px 0 1px 0;
      font-size: 30px;
      line-height: 20px;
    }
  }
 

}
