.vr__admin {
    height: 100%;
    padding: 15px;
    header {
        font-weight: bold;
        margin-bottom: 15px;
        color: #ffd04b;
    }
    &__item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10px;
        &__icons {
            display: flex;
        }
        &__sort {
            margin-left: 20px;
        }
        &__p {
            cursor: pointer;
        }
    }
    &__edit {
        color: #333;
        padding: 15px;
        overflow: hidden;
    }
    &__data {
        height: calc(100vh - 165px - 50px);
        overflow-y: auto;
        padding-bottom: 30px;
    }
    &__table{
        margin-top: 20px;
    }
    &__content{
        margin-top: 30px;
        padding: 15px;
        color: red;
        span{
            font-weight: bold;
        }
    }
    &__shade{
        position: absolute;
        background: rgba(0,0,0,0.2);
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
    &__footer {
        border-top: 1px solid #ddd;
        text-align: right;
        padding-top: 10px;
        &__btns{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
    &__video{
        margin-bottom: 6px;
        cursor: move;
        display: flex;
        align-items: center;
        justify-content: space-between;
        &__container{
            padding: 15px 60px 15px 60px;
            margin-bottom: 50px;
        }
    }
    &__second{
        display: flex;
        align-items: center;
    }
}